
#wb_header {
    height: 150px;
}

#wb_header > .wb_cont_bg {
    background-color: transparent;
}

#wb_header > .wb_cont_bg:before {
    background: transparent none repeat left top;
    background-size: auto auto;
}

#wb_main {
    height: 1406px;
    padding-bottom: 50px;
}

#wb_main > .wb_cont_bg {
    background-color: transparent;
}

#wb_main > .wb_cont_bg:before {
    background: transparent none repeat left top;
    background-size: auto auto;
}

#wb_footer {
    height: 100px;
}

#wb_footer > .wb_cont_bg {
    background-color: transparent;
}

#wb_footer > .wb_cont_bg:before {
    background: transparent none repeat-x left top;
    background-size: auto auto;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

body.site:before {
    background: transparent none no-repeat scroll center top;
    background-size: auto auto;
}

.wb_sbg {
    background: transparent none repeat-x center top;
}

body, .wb_sbg {
    min-width: 1200px;
    min-height: 1656px;
}

.wb_cont_inner {
    width: 1200px;
}

.wb_cont_bg {
    width: 1200px;
    margin-left: -600px;
}

.root {
    height: 1656px;
    min-height: 1656px;
}

#wb_element_instance0 {
    top: 115px;
    left: 0px;
    min-width: 1200px;
    width: 1200px;
    min-height: 35px;
    height: 35px;
    display: block;
    z-index: 775;
}

#wb_element_instance0 > ul {
    display: block;
}

#wb_element_instance0 ul {
    background: transparent none repeat right top;
    border: 1px none #000000;
}

#wb_element_instance0, #wb_element_instance0 ul {
    text-align: center;
}

#wb_element_instance0 ul ul {
    background: #e8e8e8 none repeat right top;
}

#wb_element_instance0 li {
    margin: 0px 10px 0px 10px;
}

#wb_element_instance0 li a {
    text-transform: uppercase;
    border: 0px none #000000;
    padding: 10px 10px 10px 10px;
    font: normal bold 13px 'IBM Plex Sans', Arial, sans-serif;
    text-decoration: none;
    color: #121212;
    line-height: 15px;
    background: transparent none no-repeat center top;
}

#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a {
    border: 0px none #000000;
    font: normal bold 13px 'IBM Plex Sans', Arial, sans-serif;
    text-decoration: none;
    color: #ff3300;
    line-height: 15px;
    background: transparent none no-repeat center top;
}

#wb_element_instance0 li.active > a {
    border: 0px none #000000;
    font: normal bold 13px 'IBM Plex Sans', Arial, sans-serif;
    text-decoration: none;
    color: #ff2802;
    line-height: 15px;
    background: transparent none no-repeat center center;
}

#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left, #wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left {
    left: auto;
    right: 100%;
}

#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left {
    left: auto;
    right: 0;
}

#wb_element_instance1 {
    top: 60px;
    left: 0px;
    min-width: 1199px;
    width: 1199px;
    min-height: 48px;
    height: 48px;
    display: block;
    z-index: 576;
}

#wb_element_instance2 {
    top: 14px;
    left: 580px;
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
    display: block;
    z-index: 574;
}

#wb_element_instance2 img {
    width: 40px;
    height: 40px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance3 {
    top: 0px;
    left: 0px;
    min-width: 1200px;
    width: 1200px;
    min-height: 110px;
    height: 110px;
    display: block;
    z-index: 428;
}

#wb_element_instance3 > .wb_shp:before {
    background: transparent none repeat scroll left top;
    background-size: auto auto;
    opacity: 0;
}

#wb_element_instance4 {
    top: 37px;
    left: 10px;
    min-width: 330px;
    width: 330px;
    min-height: 26px;
    height: 26px;
    display: block;
    z-index: 568;
}

#wb_element_instance5 {
    top: 0px;
    left: 0;
    right: 0;
    min-height: 100px;
    height: 100px;
    display: block;
    z-index: 426;
}

#wb_element_instance5 > .wb_shp {
    display: block;
    background-color: rgba(0, 0, 0, 1);
    border: 5px none #c0c0c0;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 100px;
}

#wb_element_instance5 > .wb_shp:before {
    background: transparent none repeat scroll left top;
    background-size: auto auto;
    opacity: 1;
}

#wb_element_instance6 {
    top: 1000px;
    left: 145px;
    min-width: 910px;
    width: 910px;
    min-height: 139px;
    height: 139px;
    display: block;
    z-index: 143;
}

#wb_element_instance7 {
    top: 60px;
    left: 155px;
    min-width: 890px;
    width: 890px;
    min-height: 144px;
    height: 144px;
    display: block;
    z-index: 268;
}

#wb_element_instance8 {
    top: 770px;
    left: 52px;
    min-width: 1095px;
    width: 1095px;
    min-height: 77px;
    height: 77px;
    display: block;
    z-index: 267;
}

#wb_element_instance9 {
    top: 910px;
    left: 515px;
    min-width: 170px;
    width: 170px;
    min-height: 60px;
    height: 60px;
    display: block;
    z-index: 269;
}

#wb_element_instance9 img {
    width: 170px;
    height: 60px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance10 {
    top: 1180px;
    left: 510px;
    min-width: 180px;
    width: 180px;
    min-height: 176px;
    height: 176px;
    display: block;
    z-index: 270;
    overflow: hidden;
}

#wb_element_instance10 img {
    width: 179px;
    height: 176px;
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
    max-width: inherit;
}

#wb_element_instance11 {
    top: 287px;
    left: 0;
    right: 0;
    min-height: 430px;
    height: 430px;
    display: block;
    z-index: 257;
}

#wb_element_instance11 > .wb_shp {
    display: block;
    background-color: rgba(255, 255, 255, 1);
    border: 5px none #c0c0c0;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 430px;
}

#wb_element_instance11 > .wb_shp:before {
    background: transparent url("../gallery_gen/2bb3653041a93e561bce9b8bb498f7f9.jpg") repeat fixed center center;
    background-size: cover;
    opacity: 1;
}


#wb_element_instance1 p:last-child {
    margin-bottom: 0;
}

#wb_element_instance1 {
    opacity: 1;
}

#wb_element_instance2 {
    opacity: 1;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px none #000000;
    box-sizing: border-box;
    overflow: hidden;
}

#wb_element_instance4 p:last-child {
    margin-bottom: 0;
}

#wb_element_instance4 {
    opacity: 1;
}

#wb_element_instance6 p:last-child {
    margin-bottom: 0;
}

#wb_element_instance6 {
    opacity: 1;
}

#wb_element_instance7 p:last-child {
    margin-bottom: 0;
}

#wb_element_instance7 {
    opacity: 1;
}

#wb_element_instance8 p:last-child {
    margin-bottom: 0;
}

#wb_element_instance8 {
    opacity: 1;
}

#wb_element_instance9 {
    opacity: 1;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px none #000000;
    box-sizing: border-box;
    overflow: hidden;
}

#wb_element_instance10 {
    opacity: 1;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 5px none #d1d1d1;
    box-sizing: border-box;
    overflow: hidden;
}


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
