
#wb_header { height: 150px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 1179px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: #ffffff; }
body.site:before { background: transparent none no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1429px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1429px; min-height: 1429px; }
#wb_element_instance12 { top: 115px; left: 0px; min-width: 1200px; width: 1200px; min-height: 35px; height: 35px; display: block; z-index: 775; }
#wb_element_instance12 > ul { display: block; }
#wb_element_instance12 ul { background: transparent none repeat right top; border: 1px none #000000; }
#wb_element_instance12, #wb_element_instance12 ul { text-align: center; }
#wb_element_instance12 ul ul { background: #e8e8e8 none repeat right top; }
#wb_element_instance12 li { margin: 0px 10px 0px 10px; }
#wb_element_instance12 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 13px 'IBM Plex Sans',Arial,sans-serif; text-decoration: none; color: #121212; line-height: 15px; background: transparent none no-repeat center top; }
#wb_element_instance12 li.over > a, #wb_element_instance12 li:focus > a { border: 0px none #000000; font: normal bold 13px 'IBM Plex Sans',Arial,sans-serif; text-decoration: none; color: #ff3300; line-height: 15px; background: transparent none no-repeat center top; }
#wb_element_instance12 li.active > a { border: 0px none #000000; font: normal bold 13px 'IBM Plex Sans',Arial,sans-serif; text-decoration: none; color: #ff2802; line-height: 15px; background: transparent none no-repeat center center; }
#wb_element_instance12:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance12:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance12:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance13 { top: 60px; left: 0px; min-width: 1199px; width: 1199px; min-height: 48px; height: 48px; display: block; z-index: 576; }
#wb_element_instance14 { top: 14px; left: 580px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; z-index: 574; }
#wb_element_instance14 img { width: 40px; height: 40px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance15 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 110px; height: 110px; display: block; z-index: 428; }

#wb_element_instance15 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0; }
#wb_element_instance16 { top: 37px; left: 10px; min-width: 330px; width: 330px; min-height: 26px; height: 26px; display: block; z-index: 568; }
#wb_element_instance17 { top: 0px; left: 0; right: 0; min-height: 100px; height: 100px; display: block; z-index: 426; }
#wb_element_instance17 > .wb_shp { display: block; background-color: rgba(0, 0, 0, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 100px; }
#wb_element_instance17 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance18 { top: 70px; left: 225px; min-width: 750px; width: 750px; min-height: 1059px; height: 1059px; display: block; z-index: 3; background: transparent; touch-action: manipulation; }
#wb_element_instance18 .wb-picture-caption { background-color: rgba(237, 237, 237, 0.66); }
#wb_element_instance18_pswp .wb-picture-caption { background-color: rgba(237, 237, 237, 0.66); }


#wb_element_instance13 p:last-child { margin-bottom: 0; }
#wb_element_instance13 { opacity: 1; }
#wb_element_instance14 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance16 p:last-child { margin-bottom: 0; }
#wb_element_instance16 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
